@import "tailwindcss";

@plugin "tailwindcss-animate";


/* a:hover{
  color: rgb(143, 9, 9);
} */



body {
  font-family: var(--font-inter), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-header), sans-serif;
}